[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.4
[submodule "light_ik"]
	path = light_ik
	url = https://github.com/pgolovin/light_ik.git
	branch = main
